@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@400;500;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
}

/*------LINK----------*/
a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary);
    transition: all 0.5s ease;
    font-size: 15px;
    margin-left: 0;
    cursor: pointer;
}

a:hover {
    color: var(--primary);
}

.redesocial {
    font-size: 30px;
}

.titulo1 {
    font-size: 50px;
    opacity: 60%;
    color: white;
    text-align: left;
    font-weight: 600;
}

.titulo2 {
    color: var(--branco);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
}

.link {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary);
}

.subtitulo {
    color: var(--descricao);
    font-weight: 300;
    text-transform: none;
    
}

.opaco {
    color: rgb(122, 119, 115);
}

.linha-vertical {
    height: 50px;/*Altura da linha*/
    width: 1px;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    background-color: var(--secondary);
}

.bold {
    font-weight: 600;
    color: var(--branco);
}

.center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.circle {
    display: flex;
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
  }
  
